<div class="wrapper">
  <div class="container-1" *ngIf="cardDetails$">
    <table>
      <thead>
        <tr>
          <th scope="col">Card Holder Name</th>
          <th scope="col">Card Number</th>
          <th scope="col">Csc Code</th>
          <th scope="col">Expiration Month</th>
          <th scope="col">Expiration Year</th>
          <th scope="col">Issuer</th>
          <th scope="col">Delete Card</th>
          <th scope="col">Transactions</th>
        </tr>
      </thead>
      <tbody>
        <td data-label="Card Holder Name">
          {{ cardDetails$.cardholder_name }}
        </td>
        <td data-label="Card Number">{{ cardDetails$.card_number }}</td>
        <td data-label="Csc Code">{{ cardDetails$.csc_code }}</td>
        <td data-label="Expiration Month">
          {{ cardDetails$.expiration_date_month }}
        </td>
        <td data-label="Expiration Year">
          {{ cardDetails$.expiration_date_year }}
        </td>
        <td data-label="Issuer">{{ cardDetails$.issuer }}</td>
        <td data-label="Delete Card">
          <button (click)="deleteCreditCard()">❌</button>
        </td>
        <td
          data-label="Transactions"
          style="
            height: 1em;
            float: right;
            padding-left: 20vh;
            padding-right: 0vh;
          "
        ></td>
      </tbody>
    </table>
  </div>
  <div *ngIf="card_transactions$" class="container-2">
    <div>
      <table>
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of card_transactions$">
            <td>{{ transaction.date | date: "shortDate" }}</td>
            <td>
              {{ transaction.amount | number: "1.0-2" }}
              {{ transaction.currency }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
